---
#title: "home"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  caption: ""
excerpt: "Space telescopes large and small. CubeSats and instrumentation. Exoplanets, debris disks, and better understanding our own planet."
intro: 
  - excerpt: ''
feature_row:
  - image_path: assets/demi_bct.png
    image_caption: "Rendering of the Deformable Mirror Demonstration Mission CubeSat orbiting the Earth."
    alt: "Courtesy Blue Canyon Technologies"
    title: "Research"
    #excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/Research"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/picture_b_at_ws.jpeg
    image_caption: "The PICTURE-B Sounding rocket at WSMR."
    alt: "Courtesy NASA"
    url: /Facilities
    title: "Facilities."
  - image_path: assets/steward_dome_esd_oniphone.jpeg
    alt: "Photo of Steward Observatory Dome"
    url: http://www.as.arizona.edu
    title: "Steward Observatory"
    image_caption: "Steward is our academic home at the University of Arizona and we collaborate closely with many departments and have research and work opportunties for all students with an interest in space, astrophysics, optics, or instrumentation."
feature_row2:
  - image_path: assets/stsci_spacecraft_28_lg_web.jpg
    alt: "Image of the Hubble Space Telescope from the Space Telescope Science Institute"
    title: "Mailing Address"
    excerpt: "Department of Astronomy/Steward Observatory,
                933 North Cherry Avenue, Rm. N204,
                Tucson, AZ 85721-0065"
feature_row3:
  - image_path: assets/wfirst_exozodi.png
    alt: "Simulation of an extrasolar system with planets embedded in exozodiacal dust."
    title: "Shipping Address"  
    excerpt: 'Steward Observatory Annex,
    1540 East Second Street,
   Tucson, AZ 85721-0064'
#feature_row4:
  #- image_path: /assets/images/unsplash-gallery-image-2-th.jpg
  #  alt: "placeholder image 2"
  #  title: "Placeholder Image Center Aligned"
  #  excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
  #  url: "#test-link"
  # btn_label: "Read More"
  #  btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

#{% include feature_row id="feature_row4" type="center" %}

-----

